<section class="ml-2">
  <h2 class="text-3xl font-bold">Pipes no de Angular</h2>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Toggle Case Pipe</div>
    <div class="stat-value">{{ "Hola mani" | toggleCase : toggle() }}</div>
    <div class="stat-desc">{{ "Hola mani" }}</div>

    <button class="btn btn-primary w-[200px]" (click)="onToggle()">
      Toggle Case
    </button>
  </div>
</div>

<div class="divider"></div>

<section class="flex justify-between mb-2">
  <h2>Pipes personalizados en accion</h2>
  <input
    type="text"
    class="input input-accent"
    (input)="onFilterQuery(queryFilter.value)"
    #queryFilter
  />

  <div class="flex gap-2">
    <button (click)="onSortBy('name')" class="btn btn-info">Por Nombre</button>
    <button (click)="onSortBy('canFly')" class="btn btn-primary">
      Por Puede volar
    </button>
    <button (click)="onSortBy('color')" class="btn btn-secondary">
      Por Color
    </button>
    <button (click)="onSortBy('creator')" class="btn btn-success">
      Por Creador
    </button>
  </div>
</section>

<div class="overflow-x-auto">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      @for (hero of hero() | filterQuery: filterQuery() | heroSortVipe:
      sortBY(); track hero.id) {
      <tr>
        <th>{{ hero.id }}</th>
        <td>{{ hero.name }}</td>
        <td>
          <span
            class="text-xs"
            [class.text-success]="hero.canFly"
            [class.text-accent]="!hero.canFly"
            >{{ hero.canFly | canfly }}</span
          >
        </td>
        <td>
          <span [style.color]="hero.color | styleColor">
            {{ hero.color | color }}
          </span>
        </td>
        <td>
          <span [style.color]="hero.creator === 0 ? '#E57373' : '#64B5F6'">
            {{ hero.creator | heroCreator }}
          </span>
        </td>
      </tr>
      }
      <!-- row 1 -->
    </tbody>
  </table>
</div>
